APP_TIMEZONE="Asia/Shanghai"
LOG_RETENTION_DAYS="7"
HTTP_TIMEOUT_SECONDS="15"
RETRY_MAX_ATTEMPTS="3"
RETRY_BACKOFF_SECONDS="2"
NOTIFY_TOAST="true"
NOTIFY_WEBHOOK_URL=""
SCHEDULE_DAILY_TIME="09:05"
SCHEDULE_LOGON_DELAY_MINUTES="10"
PAUSE_ON_AUTH_EXPIRED="3"
PAUSE_ON_SITE_CHANGED="2"
